
.form{
    margin:auto;
    width: 90%;
    max-width: 400px;
    padding:2em, 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0 / 40%);
    text-align: center;
}
.title{
    font-size: 2rem;
    margin-bottom: .5em;
    color: white;
}
.container{
    margin-top:1em;
    display: grid;
    gap: 2.5em;
}
.group{
    position: relative;
}
.input{
    color: white;
    width: 100%;
    font-size: 1rem;
    background: none;
    padding: .6em .3em;
    font-family:Arial, Helvetica, sans-serif
}
.label{
    color:white;
    cursor:pointer;
}
.p{
color: white;
background-color: rgba(0, 0, 0, 0.292);

border-radius: 5px;
margin-top: 5px;

}
.temp{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  grid-auto-rows: 20px;
   
}
.temp h5{
    color: white;
    font-size: 18px;
}
.button{
    width: 50%;
    height: 25px;
    font-family: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}