.contain {
    margin:0;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 630px;
    background-image:url('../image/pexels-andy-7440455\ \(2\)\ \(2\).jpg');
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size:cover; 
    }
   
 
    .btn {
     margin-top: 500px;
     border: none;
     background: #7e3321;
     color: rgb(6, 6, 6);
     width: 75px;
     height: 35px;
     border-radius: 2px;
     box-shadow: 5px 8px 12px black;
     transition:all 0.3s ease-in-out ;
               
    }
