.contain {
  width: 100%;
   /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    height: 100%;
    background-image:url('../image/dogs.jpg' );
    background-repeat:no-repeat;
    background-position:center center;
   background-attachment: fixed;
    background-size:contain; 
   position: absolute;
    }
   
 
    .btn {
     margin-top: 470px;
     margin-left: 52%;
     border: none;
     position: relative;
     
     color: rgb(6, 6, 6);
     width: 90px;
     height: 55px;
     border-radius: 2px;
     
     transition:all 0.3s ease-in-out ;
               
    }
