.searchbar {
    width: 100%;
    display: block;
    margin-left: 15px;
    margin-top: 30px;
    

}
.label {
    width: 80%;
    margin: 6px;
  color: rgb(252, 252, 252);
    text-align: left;
  }

.btn {
    margin: 5px;
    border: none;
    background-color: #fbbd97
        /*  margin:5px;
    width: auto;
    height: 25px;
    border-radius: 2px;
    font-size:small;
    text-align: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.769); */
}