.containerTotal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
margin-bottom: 2rem;
}

.title{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    color: antiquewhite;
    padding: 0.5rem;
    
}
.containLink{
    display: flex;
    width: 10%;
  height: 10%;
}
.containLink:hover{
    transform: scale(1.5);
}
.img{
    width: 5rem;
}

.containerForm{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 40%;
    height: 100%;
}
.group{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: aliceblue;
}


.input {
    color: white;
    width: 90%;
    font-size: 1rem;
    background: none;
    padding: .6em .3em;
    font-family: Arial, Helvetica, sans-serif
}
.temp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.temp h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    font-size: 18px;
    border: 1px solid #f9dc02;
    padding: 0.2rem;
}
.btn {
    width: 1.7rem;
    text-align: center;
    border-radius: 0.4rem;
    background-color: #f9dc02;
}
.button {
    width: 50%;
    height: 2rem;
    font-family: 0.5rem;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    cursor: pointer;
    background-color: #f9dc02;
    border-radius: 0.5rem;
}
.select{
    background-color: #000000;
    color: white;
    width: 50%;
    height: 2rem;
    font-family: 0.5rem;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    font-size:medium;
}

select::-webkit-scrollbar {
    width: 12px;               
  }
select::-webkit-scrollbar-track {
    background: black;       
  }
  
  select::-webkit-scrollbar-thumb {
    background-color: yellow;    
    border-radius: 20px;      
    border: 3px solid black;  
  }
/* .form {
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 2em, 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0 / 40%);
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: .5em;
    color: white;
}

.container {
    margin-top: 1em;
    display: grid;
    gap: 2.5em;
}

.group {
    position: relative;
}

.input {
    color: white;
    width: 100%;
    font-size: 1rem;
    background: none;
    padding: .6em .3em;
    font-family: Arial, Helvetica, sans-serif
}

.label {
    color: white;
    cursor: pointer;
}

.p {
    color: white;
    background-color: rgba(0, 0, 0, 0.292);
    border-radius: 5px;
    margin-top: 5px;

}

.temp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    flex-wrap: wrap;
}

.temp h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 18px;
    border: 1px solid #f9dc02;
    padding: 0.2rem;
}

.btn {
    width: 25px;
    text-align: center;
    border-radius: 5px;
    background-color: #f9dc02;
}

.button {
    width: 50%;
    height: 25px;
    font-family: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #f9dc02;
    border-radius: 5px;
}

.btnCreated h1 {
    text-align: center;
}

.btnCreated img {
    width: 100px;
    height: 50px;

    margin-left: 200px;


    cursor: pointer;
    border-radius: 5px;
} */