.containerCard {
    width: 25rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 8px 12px rgba(148, 148, 148, 0.483);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    align-items: center;

}

.containerCard:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

.name {
    width: 100%;
    height: 1.5rem;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8rem;
}

.imageContain {
    width: 100%;
    display: flex;

}

.image {
    width: 100%;
    height: 15rem;
    padding: 0.2rem;
    display: inline-block;
    border-radius: 1.8rem;
    background-image: url('https://res.cloudinary.com/deqbqghhq/image/upload/v1738263927/perro_llfgaq.png');
    border-radius: 8px;
    transition: all 0.25s;

}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerCard {
    width: 90%;
    height: 1.5rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow: hidden;

}

.temperament {
    color: antiquewhite;
}

.weightMin {
    width: 90%;
    color: rgb(250, 215, 215);
}

.btn {
    width: 1.5rem;
    border-radius: 0.3rem;
    background-color: #f9dc02;
    font-size: medium;
    cursor: pointer;
    font-weight: bold;

}