.contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(252, 252, 252);

}

.searchbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.1rem 0.2rem 1rem #a39001;
  background-image: url('https://res.cloudinary.com/deqbqghhq/image/upload/v1738203768/fondochico_zn52kd.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 1rem 0 1rem 0;

}

.divContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.filterContain {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;


}

.containFilter {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;

}

.label {
  font-size: medium;
  font-weight: bold;
}

.select {
  background-color: #f9dc02;
}

.filters {
  display: flex;
  gap: 0.5rem;
}

.containTotalDog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containDog {
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btncontain {
  width: 8rem;
}

.btn {
  width: 50%;
  border-radius: 0.3rem;
  background-color: #f9dc02;
  font-size: medium;
  cursor: pointer;
  font-weight: bold;

}

.link {
  text-decoration: none;
  color: white;

}

.link:hover {
  color: #f9dc02;
}

/* medidad pantalla lg */
@media (width <=80rem) {
  .containFilter {
    width: 90%;
  }

  .label {
    font-size: small;
    font-weight: normal;
  }

  .containDog {
    width: 75%;
    margin-left: 5rem;
  }
}

.containGif{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif {
  width: 50%;
  height: 100%;
  padding: 5rem;
  border-radius: 46% 54% 48% 52% / 63% 86% 14% 37%;
  box-shadow: 0 8px 10px rgba(251, 252, 252, 0.31);
}
/* medidas pantalla md */
@media (width <=64rem) {
  .filters {
    display: flex;
    flex-direction: column;
  }

  .containDog {
    width: 70%;
    margin-left: 2rem;
  }
}

/* medidas pantalla sm */
@media (width <=40rem) {
  .containFilter {
    display: flex;
    flex-direction: column;
  }

  .filters {
    width: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    font-size: small;
    font-weight: normal;
  }

  .containDog {
    width: 100%;
    margin-left: 0;
  }
}