.contain {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/deqbqghhq/image/upload/v1738197772/dogs_4_wgiank.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
}


.btn {
  margin-top: 520px;
  margin-left: 45%;
  border: none;
  position: relative;
  color: rgb(6, 6, 6);
  width: 110px;
  height: 55px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}