.containSerchBar {
  width: 50rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchbar {
  width: 60%;
  height: 2rem;
  display: flex;
  align-items: center;
}

.label {
  width: 30%;
  height: 2rem;
  display: flex;
  align-items: center;
  color: rgb(252, 252, 252);
  font-size: medium;
  font-weight: bold;
}

.input {
  width: 50%;
  height: 1.7rem;
  border-radius: 0.3rem;
  background-color: #f9dc02;
}

.btn {
  width: 20%;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: #f9dc02;
  cursor: pointer;
}

.link {
  width: 40%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #f9dc02;
}

/* medidad pantalla lg */
@media (width <=80rem) {
  .containSerchBar {
    width: 40rem;
  }

}

/* medidas pantalla md */
@media (width <=64rem) {
  .containSerchBar {
    width: 30rem;
  }

  .searchbar {
    width: 100%;
    gap: 0.3rem;

  }

  .label {
    font-size: small;
    font-weight: normal;
  }

  .input {
    width: 40%;

  }

  .btn {
    height: 1.8rem;
    font-size: x-small;
  }

}

/* medidas pantalla sm */
@media (width <=40rem) {
  .containSerchBar {
    width: 15rem;
    display: flex;
    flex-direction: column;
  }

  .searchbar {
    width: 100%;
    gap: 0.3rem;

  }

}